<template>
    <div v-if="isShowForm === true">

        <div class="text-right">
            <v-icon large @click="closeForm">mdi-close-box-outline</v-icon>
        </div>

        <h2 v-if="editForm === false">Dodaj nowe wyposażenie</h2>
        <h2 v-if="editForm === true">Edytuj wyposażenie</h2>

        <messages-box v-if="errorMessages !== null"
                      v-bind:msg-type="'error'"
                      v-bind:msg-array="errorMessages">
        </messages-box>

        <v-form ref="EquipmentForm">

            <h3 class="text-left">Stanowisko pracy</h3>
            <v-select class="ma-2" label="Stanowisko pracy" name="workstation"
                :items="workplaces"
                item-value="id"
                item-text="mark"
                v-model="equipment.id_workplace"
                filled
            ></v-select>

            <h3 class="text-left">Rodzaj</h3>
            <v-text-field class="ma-2" label="Rodzaj" name="type"
                          v-model="equipment.type"
                          :rules="itemRule"
                          :counter="25"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Model</h3>
            <v-text-field class="ma-2" label="Model" name="model"
                          v-model="equipment.model"
                          :rules="itemRule"
                          :counter="25"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Oznaczenie</h3>
            <v-text-field class="ma-2" label="Oznaczenie" name="mark"
                          v-model="equipment.mark"
                          :rules="itemRule"
                          :counter="25"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Rok zakupu</h3>
            <v-text-field class="ma-2" label="Rok zakupu" name="mark"
                          v-model="equipment.purchase_year"
                          :rules="yearRule"
                          :counter="4"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Wartośc</h3>
            <v-text-field class="ma-2 mb-5" label="Wartość" name="value"
                          v-model="equipment.value"
                          :rules="valueRule"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Opis</h3>
            <v-textarea class="ma-2" label="Opis" name="description"
                        v-model="equipment.description"
                        :rules="descriptionRule"
                        :counter="255"
                        hide-details="auto"
                        filled
                        border-radius
                        single-line>
            </v-textarea>

            <div class="text-center">

                <v-btn
                    color="grey"
                    dark
                    v-if="editForm === false"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Dodaj wyposażenie
                </v-btn>

                <v-btn
                    color="grey"
                    dark
                    v-if="editForm === true"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Edytuj wyposażenie
                </v-btn>

            </div>

        </v-form>

    </div>
</template>

<script>
    import MessagesBox from "../MessagesBox";

    export default {
        name: "EquipmentForm",
        components: {
            MessagesBox,
        },
        data: () => ({
            isShowForm: false,
            errorMessages: null,
            editForm: false,
            workplaces: null,
            equipment: {
                id: null,
                id_workplace: null,
                type: null,
                model: null,
                mark:null,
                purchase_year: null,
                value: null,
                description: null
            },
            itemRule: [
                value => !!value || 'Pole wymagane.',
                value => (value && value.length <= 25) || 'Maksymalna dopuszczalna długość 25 znaków.',
                value => {
                    const pattern = /^[A-Za-z0-9-]+$/
                    return pattern.test(value) || 'Może zawierać litery, cyfry oraz znak -.'
                },
            ],
            yearRule: [
                value => !!value || 'Pole wymagane.',
                //value => (value || '').length === 4 || 'Musi się składać dokładnie z 4 cyfr.',
                value => {
                    const pattern = /^[\d]{4}$/
                    return pattern.test(value) || 'Rok musi składać się z 4 cyfr.'
                },
            ],
            valueRule: [
                value => !!value || 'Pole wymagane.',
                value => {
                    const pattern = /^[0-9]+[\.]?[0-9]{0,2}$/
                    return pattern.test(value) || 'Wartość musi być podana w formacie: 11.11'
                },
            ],
            descriptionRule: [
                value => (value || '').length <= 255 || 'Maksymalna dopuszczalna długość 255 znaków.',
            ]
        }),
        methods: {
            submitFrom() {
                if ( this.$refs.EquipmentForm.validate() ) {
                    this.errorMessages = null
                    if ( this.editForm === true ) this.editPerson()
                    else this.addPerson()
                }
            },
            addPerson() {
                axios.post('equipment/add', {
                    id_workplace: this.equipment.id_workplace,
                    type: this.equipment.type,
                    model: this.equipment.model,
                    mark: this.equipment.mark,
                    purchase_year: this.equipment.purchase_year,
                    value: this.equipment.value,
                    description: this.equipment.description
                })
                    .then( (response) => {
                        this.$emit('addedEquipment')
                        this.closeForm()
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            editPerson() {
                axios.put('equipment/edit', {
                    id: this.equipment.id,
                    id_workplace: this.equipment.id_workplace,
                    type: this.equipment.type,
                    model: this.equipment.model,
                    mark: this.equipment.mark,
                    purchase_year: this.equipment.purchase_year,
                    value: this.equipment.value,
                    description: this.equipment.description
                })
                    .then( (response) => {
                        this.$emit('editedEquipment')
                        this.closeForm()
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            getEquipmentData(id) {

                let url = 'equipment/get/' + id
                axios.get(url)
                    .then( (response) => {

                        this.equipment = response.data[0]
                        this.equipment.id = id

                        if ( this.equipment.id_workplace != null ) {
                            this.equipment.id_workplace = parseInt(this.equipment.id_workplace)
                        }

                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });

            },
            clearForm() {
                this.equipment.id = null
                this.equipment.id_workplace = null
                this.equipment.type = null
                this.equipment.model = null
                this.equipment.mark = null
                this.equipment.purchase_year = null
                this.equipment.value = null
                this.equipment.description = null
            },
            closeForm() {
                this.clearForm()
                this.isShowForm = false
                this.$emit('closeForm')
            },
            showForm(idPerson = null) {

                // get workplace data to select
                axios.get('equipment/getWorkplaces')
                    .then( (response) => {
                        this.workplaces = response.data
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });

                if (idPerson !== null) {
                    // edit form instance
                    this.getEquipmentData(idPerson)
                    this.editForm = true
                } else {
                    // add new form instance
                    this.editForm = false
                }

                this.isShowForm = true

            }
        }
    }
</script>

<style scoped>

</style>
