<template>
    <div v-if="isShowForm === true">

        <div class="text-right">
            <v-icon large @click="closeForm">mdi-close-box-outline</v-icon>
        </div>

        <h2 v-if="editForm === false">Dodaj nowa osobe</h2>
        <h2 v-if="editForm === true">Edytuj osobe</h2>

        <messages-box v-if="errorMessages !== null"
                      v-bind:msg-type="'error'"
                      v-bind:msg-array="errorMessages">
        </messages-box>

        <v-form ref="PersonForm">

            <h3 class="text-left">Imie</h3>
            <v-text-field class="ma-2" label="Imie" name="name"
                          v-model="person.name"
                          :rules="nameRule"
                          :counter="24"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Nazwisko</h3>
            <v-text-field class="ma-2" label="Nazwisko" name="surname"
                          v-model="person.surname"
                          :rules="nameRule"
                          :counter="24"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Numer telefonu</h3>
            <v-text-field class="ma-2" label="Numer telefonu" name="phoneNumber"
                          v-model="person.phoneNumber"
                          :rules="phoneNumberRule"
                          :counter="9"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Adres e-m@il</h3>
            <v-text-field class="ma-2" label="Adres e-m@il" name="email"
                          v-model="person.email"
                          :rules="emailRule"
                          :counter="320"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Opis</h3>
            <v-textarea class="ma-2" label="Opis" name="description"
                        v-model="person.description"
                        :rules="descriptionRule"
                        :counter="255"
                        hide-details="auto"
                        filled
                        border-radius
                        single-line>
            </v-textarea>

            <div class="text-center">

                <v-btn
                    color="grey"
                    dark
                    v-if="editForm === false"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Dodaj osobe
                </v-btn>

                <v-btn
                    color="white"
                    dark
                    v-if="editForm === true"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Edytuj osobe
                </v-btn>

            </div>

        </v-form>

    </div>
</template>

<script>
    import MessagesBox from "../MessagesBox";

    export default {
        name: "PersonForm",
        components: {
            MessagesBox,
        },
        data: () => ({
            isShowForm: false,
            errorMessages: null,
            editForm: false,
            person: {
                id: null,
                name: null,
                surname: null,
                phoneNumber: null,
                email: null,
                description: null
            },
            nameRule: [
                value => !!value || 'Pole wymagane.',
                value => (value && value.length >= 3) || 'Minimalna dopuszczalna długość 3 znaków.',
                value => (value && value.length <= 24) || 'Maksymalna dopuszczalna długość 24 znaków.',
                value => {
                    const pattern = /^[A-Za-z]+$/
                    return pattern.test(value) || 'Musi zawierać same litery.'
                },
            ],
            emailRule: [
                value => !!value || 'Pole wymagane.',
                value => (value || '').length <= 320 || 'Maksymalna dopuszczalna długość 320 znaków.',
                value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    return pattern.test(value) || 'Nieprawidłowy adres e-m@il.'
                },
            ],
            phoneNumberRule: [
                value => !!value || 'Pole wymagane.',
                value => (value || '').length === 9 || 'Musi się składać dokładnie z 9 cyfr.',
                value => {
                    const pattern = /^\d+$/
                    return pattern.test(value) || 'Musi zawierać same cyfry.'
                },
            ],
            descriptionRule: [
                value => (value || '').length <= 255 || 'Maksymalna dopuszczalna długość 255 znaków.',
            ]
        }),
        methods: {
            submitFrom() {

                if ( this.$refs.PersonForm.validate() ) {
                    this.errorMessages = null
                    if ( this.editForm === true ) this.editPerson()
                    else this.addPerson()
                }

            },
            addPerson() {
                axios.post('person/add', {
                    name: this.person.name,
                    surname: this.person.surname,
                    phone_number: this.person.phoneNumber,
                    email: this.person.email,
                    description: this.person.description
                })
                    .then( (response) => {
                        this.$emit('addedPerson')
                        this.closeForm()
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            editPerson() {
                axios.put('person/edit', {
                    id: this.person.id,
                    name: this.person.name,
                    surname: this.person.surname,
                    phone_number: this.person.phoneNumber,
                    email: this.person.email,
                    description: this.person.description
                })
                    .then( (response) => {
                        this.$emit('editedPerson')
                        this.closeForm()
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            getPersonData(idPerson) {
                let url = 'person/get/' + idPerson
                axios.get(url)
                    .then( (response) => {
                        this.person.id = idPerson
                        this.person.name = response.data[0].name
                        this.person.surname = response.data[0].surname
                        this.person.phoneNumber = response.data[0].phone_number
                        this.person.email = response.data[0].email
                        this.person.description = response.data[0].description
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });

            },
            clearForm() {
                this.person.id = null
                this.person.name = null
                this.person.surname = null
                this.person.phoneNumber = null
                this.person.email = null
                this.person.description = null
                this.errorMessages = null
            },
            closeForm() {
                this.clearForm()
                this.isShowForm = false
                this.$emit('closeForm')
            },
            showForm(idPerson = null) {

                if (idPerson !== null) {
                    // edit form instance
                    this.getPersonData(idPerson)
                    this.editForm = true
                } else {
                    // add new form instance
                    this.editForm = false
                }

                this.isShowForm = true

            }
        }
    }
</script>

<style scoped>

</style>
