<template>
    <div v-if="isShowForm === true">

        <div class="text-right">
            <v-icon large @click="closeForm">mdi-close-box-outline</v-icon>
        </div>

        <h2 v-if="editForm === false">Dodaj nową rezerwacje</h2>
        <h2 v-if="editForm === true">Edytuj rezerwacje</h2>

        <messages-box v-if="errorMessages !== null"
                      v-bind:msg-type="'error'"
                      v-bind:msg-array="errorMessages">
        </messages-box>

        <v-form ref="ReservationForm">

            <h3 class="text-left">Osoba rezerwująca</h3>
            <v-select class="ma-2" label="Osoba rezerwujaca" name="person"
                      :items="listPersons"
                      item-value="id"
                      item-text="name"
                      v-model="reservation.id_person"
                      filled
                      :rules="selectRule"
            ></v-select>

            <h3 class="text-left">Stanowisko pracy rezerwowane</h3>
            <v-select class="ma-2" label="Stanowisko pracy" name="workstation"
                      :items="listWorkplaces"
                      item-value="id"
                      item-text="mark"
                      v-model="reservation.id_workplace"
                      filled
                      :rules="selectRule"
            ></v-select>

            <div class="text-left mb-5">
                <h4>Wyposażenie przypisane do stanowiska pracy:</h4>
                <div v-if="reservation.id_workplace && listEquipments[reservation.id_workplace].length > 0">
                    <ul v-for="equipment in listEquipments[reservation.id_workplace]">
                        <li>{{ equipment.mark }}</li>
                    </ul>
                </div>
                <div v-else>
                    <p>Brak wyposażenia przypisanego do stanowiska</p>
                </div>
            </div>

            <h3 class="text-left">Data początkowa rezerwacji</h3>
            <v-datetime-picker label="Data początkowa" name="datetime_start"
                               okText="Zatwierdz"
                               clearText="Resetuj"
                               v-model="reservation.datetime_start"

            >
            </v-datetime-picker>

            <h3 class="text-left">Data końcowa</h3>
            <v-datetime-picker label="Data końcowa" name="datetime_end"
                               okText="Zatwierdz"
                               clearText="Resetuj"
                               v-model="reservation.datetime_end"
                               :rules="dateEndRule">
            </v-datetime-picker>

            <div class="text-center">

                <v-btn
                    color="grey"
                    dark
                    v-if="editForm === false"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Dodaj rezerwacje
                </v-btn>

                <v-btn
                    color="grey"
                    dark
                    v-if="editForm === true"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Edytuj rezerwacje
                </v-btn>

            </div>

        </v-form>

    </div>
</template>

<script>
    import MessagesBox from "../MessagesBox";

    export default {
        name: "WorkplaceForm",
        components: {
            MessagesBox,
        },
        data: () => ({
            isShowForm: false,
            errorMessages: null,
            editForm: false,
            listPersons: null,
            listWorkplaces: null,
            listEquipments: null,
            reservation: {
                id: null,
                id_person: null,
                id_workplace: null,
                datetime_start: new Date(),
                datetime_end: new Date()
            },
            dateRule: [
                value => !!value || 'Pole wymagane.',
                value => {
                    const pattern = /^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}$/
                    return pattern.test(value) || 'Nieprawidłowy format daty (YYYY-MM-DD GG-MM)'
                },
            ],
            dateEndRule: [
                value => !!value || 'Pole wymagane.',
                value => {
                    const pattern = /^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}$/
                    return pattern.test(value) || 'Nieprawidłowy format daty (YYYY-MM-DD GG-MM)'
                },
                value => (value || '') > this.reservation.datetime_start || 'Data musi być późniejsza niż data rozpoczęcia',
            ],
            selectRule: [
                value => !!value || 'Pole wymagane.',
            ]
        }),
        methods: {
            submitFrom() {

                if ( this.$refs.ReservationForm.validate() ) {
                    this.errorMessages = null
                    if ( this.editForm === true ) this.editReservation()
                    else this.addReservation()
                }

            },
            addReservation() {

                if (this.validateData()) {
                    axios.post('reservation/add', {
                        id_person: this.reservation.id_person,
                        id_workplace: this.reservation.id_workplace,
                        datetime_start: this.reservation.datetime_start,
                        datetime_end: this.reservation.datetime_end
                    })
                        .then( (response) => {
                            this.$emit('addedReservation')
                            this.closeForm()
                        })
                        .catch( (error) => {
                            this.errorMessages = error.response.data.messages
                        });
                }

            },
            editReservation() {
                axios.put('reservation/edit', {
                    id: this.reservation.id,
                    id_person: this.reservation.id_person,
                    id_workplace: this.reservation.id_workplace,
                    datetime_start: this.reservation.datetime_start,
                    datetime_end: this.reservation.datetime_end
                })
                    .then( (response) => {
                        this.$emit('editedReservation')
                        this.closeForm()
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            getReservationData(idReservation) {

                let url = 'reservation/get/' + idReservation
                axios.get(url)
                    .then( (response) => {

                        this.reservation = response.data[0]
                        this.reservation.id = parseInt(response.data[0].id)
                        this.reservation.id_person = parseInt(response.data[0].id_person)
                        this.reservation.id_workplace = parseInt(response.data[0].id_workplace)

                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });

            },
            clearForm() {
                this.reservation.id = null
                this.reservation.id_person = null
                this.reservation.id_workplace= null
                this.reservation.start = null
                this.reservation.end = null
            },
            closeForm() {
                this.clearForm()
                this.isShowForm = false
                this.$emit('closeForm')
            },
            getDataForm() {
                // Get persons and workplaces data
                axios.get('reservation/getDataForm')
                    .then( (response) => {

                        let tempPersons = []

                        response.data.persons.forEach( (item) => {
                            tempPersons.push({
                                id: parseInt(item.id),
                                name: item.name
                            })
                        })

                        this.listPersons = tempPersons
                        this.listWorkplaces = response.data.workplaces
                        this.listEquipments = response.data.equipments

                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            validateData() {

                if (this.reservation.datetime_start > this.reservation.datetime_end) {
                    this.errorMessages = ['Data zakończenia nie może być wcześniejsza niż data rozpoczęcia']
                    return false
                } else return true

            },
            showForm(idReservation = null) {

                this.errorMessages = null

                this.getDataForm();

                if (idReservation !== null) {
                    // edit form instance
                    this.getReservationData(idReservation)
                    this.editForm = true
                } else {
                    // add new form instance
                    this.editForm = false
                }

                this.isShowForm = true

            }
        }
    }
</script>

<style scoped>

</style>
