<template>
    <div v-if="isShowForm === true">

        <div class="text-right">
            <v-icon large @click="closeForm">mdi-close-box-outline</v-icon>
        </div>

        <h2 v-if="editForm === false">Dodaj nowe miejsce pracy</h2>
        <h2 v-if="editForm === true">Edytuj miejsce pracy</h2>

        <messages-box v-if="errorMessages !== null"
                      v-bind:msg-type="'error'"
                      v-bind:msg-array="errorMessages">
        </messages-box>

        <v-form ref="WorkplaceForm">

            <h3 class="text-left">Oznaczenie</h3>
            <v-text-field class="ma-2" label="Oznaczenie" name="mark"
                          v-model="workplace.mark"
                          :rules="itemRule"
                          :counter="25"
                          hide-details="auto"
                          filled
                          border-radius
                          single-line>
            </v-text-field>

            <h3 class="text-left">Opis</h3>
            <v-textarea class="ma-2" label="Opis" name="description"
                        v-model="workplace.description"
                        :rules="descriptionRule"
                        :counter="255"
                        hide-details="auto"
                        filled
                        border-radius
                        single-line>
            </v-textarea>

            <div class="text-center">

                <v-btn
                    color="grey"
                    dark
                    v-if="editForm === false"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Dodaj miejsce pracy
                </v-btn>

                <v-btn
                    color="grey"
                    dark
                    v-if="editForm === true"
                    @click="submitFrom"
                    outlined
                    x-large
                >
                    Edytuj miejsce pracy
                </v-btn>

            </div>

        </v-form>

    </div>
</template>

<script>
    import MessagesBox from "../MessagesBox";

    export default {
        name: "WorkplaceForm",
        components: {
            MessagesBox,
        },
        data: () => ({
            isShowForm: false,
            errorMessages: null,
            editForm: false,
            workplace: {
                id: null,
                mark: null,
                description: null
            },
            itemRule: [
                value => !!value || 'Pole wymagane.',
                value => (value && value.length <= 25) || 'Maksymalna dopuszczalna długość 25 znaków.',
                value => {
                    const pattern = /^[A-Za-z0-9-]+$/
                    return pattern.test(value) || 'Może zawierać litery, cyfry oraz znak -.'
                },
            ],
            descriptionRule: [
                value => (value || '').length <= 255 || 'Maksymalna dopuszczalna długość 255 znaków.',
            ]
        }),
        methods: {
            submitFrom() {

                if ( this.$refs.WorkplaceForm.validate() ) {
                    this.errorMessages = null
                    if ( this.editForm === true ) this.editWorkplace()
                    else this.addWorkplace()
                }

            },
            addWorkplace() {
                axios.post('workplace/add', {
                    mark: this.workplace.mark,
                    description: this.workplace.description
                })
                    .then( (response) => {
                        this.$emit('addedWorkplace')
                        this.closeForm()
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            editWorkplace() {
                axios.put('workplace/edit', {
                    id: this.workplace.id,
                    mark: this.workplace.mark,
                    description: this.workplace.description
                })
                    .then( (response) => {
                        this.$emit('editedWorkplace')
                        this.closeForm()
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            getWorkplaceData(idWorkplace) {

                let url = 'workplace/get/' + idWorkplace
                axios.get(url)
                    .then( (response) => {

                        this.workplace = response.data[0]

                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });

            },
            clearForm() {
                this.workplace.id = null
                this.workplace.mark = null
                this.workplace.description = null
            },
            closeForm() {
                this.clearForm()
                this.isShowForm = false
                this.$emit('closeForm')
            },
            showForm(idWorkplace = null) {

                if (idWorkplace !== null) {
                    // edit form instance
                    this.getWorkplaceData(idWorkplace)
                    this.editForm = true
                } else {
                    // add new form instance
                    this.editForm = false
                }

                this.isShowForm = true

            }
        }
    }
</script>

<style scoped>

</style>
