<template>
    <v-container
        fluid
    >
        <v-row>
            <v-col>

                <messages-box v-if="boxMsg !== null"
                              v-bind:msg-type="boxMsgType"
                              v-bind:msg-array="boxMsg">
                </messages-box>

                <h1>Wyposażenie</h1>
                <hr class="mb-2">

                <div class="text-center">

                    <v-btn
                        color="white"
                        dark
                        v-show="isShowForm === false"
                        @click="showForm()"
                        outlined
                        x-large
                    >
                        Dodaj nowe wyposazenie
                    </v-btn>

                    <EquipmentForm v-show="isShowForm === true" ref="EquipmentForm"
                                :edit-person-id="editFormPersonId"
                                @closeForm="closeEquipmentForm"
                                @addedEquipment="addedNewEquipment"
                                @editedEquipment="editedEquipment"
                    >
                    </EquipmentForm>

                </div>

                <h2 class="mt-2">Lista wyposażenia</h2>
                <hr class="mb-2">

                <v-simple-table v-if="equipmentDataTable !== null">
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">Oznaczenie</th>
                            <th class="text-left">Stanowisko pracy</th>
                            <th class="text-left">Rodzaj</th>
                            <th class="text-left">Model</th>
                            <th class="text-left">Rok zakupu</th>
                            <th class="text-left">Wartość zakupu</th>
                            <th class="text-left">Edytuj</th>
                            <th class="text-left">Usuń</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in equipmentDataTable" :key="item.id">
                            <td>{{ item.mark }}</td>
                            <td>{{ item.workplace }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.model }}</td>
                            <td>{{ item.purchase_year }}</td>
                            <td>{{ item.value }}</td>
                            <td>
                                <v-icon large @click="showForm(item.id)">mdi-square-edit-outline</v-icon>
                            </td>
                            <td>
                                <v-icon large @click="deleteEquipment(item.id,item.workplace)">mdi-trash-can-outline</v-icon>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>


            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import EquipmentForm from "../components/form/EquipmentForm";
    import MessagesBox from "../components/MessagesBox";
    export default {
        name: "Equipment",
        components: {MessagesBox, EquipmentForm},
        data: () => ({
            isShowForm: false,
            editFormPersonId: null,
            equipmentDataTable: null,
            boxMsg: null,
            boxMsgType: null,
            boxMsgEvent: null,
        }),
        created() {
            this.getAllEquipments()
        },
        methods: {
            closeEquipmentForm() {
                this.isShowForm = false
            },
            getAllEquipments() {
                axios.get('/equipment/getAll')
                    .then( (response) => {
                        this.equipmentDataTable = null
                        this.equipmentDataTable = response.data
                    })
                    .catch( (error) => {
                        this.errorMessages = error.response.data.messages
                    });
            },
            showForm(idPerson = null) {
                this.isShowForm = true
                if (idPerson === null) this.$refs.EquipmentForm.showForm()
                else this.$refs.EquipmentForm.showForm(idPerson)
            },
            deleteEquipment(id,workplace_name) {

                let msgConfirm = 'Czy jestes pewny, że chcesz usunąć wyposazenie o oznaczeniu: ' + workplace_name + ' ?'

                if ( window.confirm(msgConfirm) ) {
                    let url = '/equipment/delete/' + id
                    axios.delete(url)
                        .then( (response) => {
                            if ( response ) {
                                this.getAllEquipments()
                                this.setMsgBox(['Usunięto wyposażenie'],'success')
                            }
                        })
                        .catch( (error) => {
                            this.setMsgBox(error.response.data.messages,'error')
                        });
                }

            },
            setMsgBox(msg, type) {
                this.unsetMsgBox()
                this.boxMsg = msg
                this.boxMsgType = type

                this.boxMsgEvent = setTimeout(() => {
                    this.unsetMsgBox()
                }, 10000);

            },
            unsetMsgBox() {
                this.boxMsg = null
                this.boxMsgType = null

                if ( this.boxMsgEvent !== null ) {
                    clearTimeout(this.boxMsgEvent)
                    this.boxMsgEvent = null
                }

            },
            addedNewEquipment() {
                this.getAllEquipments()
                this.setMsgBox(['Dodano nowe wyposażenie'], 'success')
            },
            editedEquipment() {
                this.getAllEquipments()
                this.setMsgBox(['Edytowano wyposażenie poprawnie'], 'success')
            }
        }
    }
</script>

<style scoped>

</style>
