<template>
    <v-container
        fluid
    >
        <v-row>
            <v-col>

                <messages-box v-if="boxMsg !== null"
                              v-bind:msg-type="boxMsgType"
                              v-bind:msg-array="boxMsg">
                </messages-box>

                <h1>Osoby</h1>
                <hr class="mb-2">

                <div class="text-center">

                    <v-btn
                        color="white"
                        dark
                        v-show="isShowForm === false"
                        @click="showForm()"
                        outlined
                        x-large
                    >
                        Dodaj nowa osobe
                    </v-btn>

                    <PersonForm v-show="isShowForm === true" ref="PersonForm"
                                :edit-person-id="editFormPersonId"
                                @closeForm="closePersonForm"
                                @addedPerson="addedNewPerson"
                                @editedPerson="editedPerson"

                    ><!---->
                    </PersonForm>

                </div>

                <h2 class="mt-2">Lista osob</h2>
                <hr class="mb-2">

                <v-simple-table v-if="personsDataTable !== null">
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">Imie</th>
                            <th class="text-left">Nazwisko</th>
                            <th class="text-left">Adres e-m@il</th>
                            <th class="text-left">Telefon</th>
                            <th class="text-left">Edytuj</th>
                            <th class="text-left">Usun</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in personsDataTable" :key="item.name">
                            <td>{{ item.name }}</td>
                            <td>{{ item.surname }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.phone_number }}</td>
                            <td>
                                <v-icon large @click="showForm(item.id)">mdi-account-edit-outline</v-icon>
                            </td>
                            <td>
                                <v-icon large @click="deletePerson(item.id,item.name,item.surname,item.email)">mdi-trash-can-outline</v-icon>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>


            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import PersonForm from "../components/form/PersonForm";
    import MessagesBox from "../components/MessagesBox";
    export default {
        name: "Persons",
        components: {MessagesBox, PersonForm},
        data: () => ({
            isShowForm: false,
            editFormPersonId: null,
            personsDataTable: null,
            boxMsg: null,
            boxMsgType: null,
            boxMsgEvent: null,
        }),
        created() {
            this.getAllPersons()
        },
        methods: {
            showPersonForm() {
                this.isShowForm = true
            },
            closePersonForm() {
                this.isShowForm = false
            },
            getAllPersons() {
                axios.get('/person/getAll')
                    .then( (response) => {
                        this.personsDataTable = null
                        this.personsDataTable = response.data
                    })
                    .catch( (error) => {
                        this.setMsgBox(error.response.data.messages,'error')
                    });
            },
            showForm(idPerson = null) {
                this.isShowForm = true
                if (idPerson === null) this.$refs.PersonForm.showForm()
                else this.$refs.PersonForm.showForm(idPerson)
            },
            deletePerson(id,name,surname,email) {

                let msgConfirm = 'Czy jestes pewny, że chcesz usunąć osobe ' + name + ' ' + surname + ' (' + email + ')?'

                if ( window.confirm(msgConfirm) ) {
                    let url = '/person/delete/' + id
                    axios.delete(url)
                        .then( (response) => {
                            if ( response ) {
                                this.getAllPersons()
                                this.setMsgBox(['Usunięto osobe poprawnie'],'success')
                            }
                        })
                        .catch( (error) => {
                            this.setMsgBox(error.response.data.messages,'error')
                        });
                }

            },
            setMsgBox(msg, type) {
                this.unsetMsgBox()
                this.boxMsg = msg
                this.boxMsgType = type

                this.boxMsgEvent = setTimeout(() => {
                    this.unsetMsgBox()
                }, 10000);

            },
            unsetMsgBox() {
                this.boxMsg = null
                this.boxMsgType = null

                if ( this.boxMsgEvent !== null ) {
                    clearTimeout(this.boxMsgEvent)
                    this.boxMsgEvent = null
                }

            },
            addedNewPerson() {
                this.getAllPersons()
                this.setMsgBox(['Dodano nowego użytkownika'], 'success')
            },
            editedPerson() {
                this.getAllPersons()
                this.setMsgBox(['Edytowano użytkownika poprawnie'], 'success')
            }
        }
    }
</script>

<style scoped>

</style>
