<template>
    <v-container
        fluid
    >
        <v-row>
            <v-col>

                <messages-box v-if="boxMsg !== null"
                              v-bind:msg-type="boxMsgType"
                              v-bind:msg-array="boxMsg">
                </messages-box>

                <h1>Rezerwacje</h1>
                <hr class="mb-2">

                <div class="text-center">

                    <v-btn
                        color="white"
                        dark
                        v-show="isShowForm === false"
                        @click="showForm()"
                        outlined
                        x-large
                    >
                        Dodaj nową rezerwacje
                    </v-btn>

                    <ReservationForm v-show="isShowForm === true" ref="ReservationForm"
                                   @closeForm="closeReservationForm"
                                   @addedReservation="addedNewReservation"
                                   @editedReservation="editedReservation"
                    >
                    </ReservationForm>

                </div>

                <h2 class="mt-2">Lista rezerwacji</h2>
                <hr class="mb-2">

                <v-simple-table v-if="reservationDataTable !== null">
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">Osoba rezerwująca</th>
                            <th class="text-left">Stanowisko zarezerwowane</th>
                            <th class="text-left">Data rozpoczęcia</th>
                            <th class="text-left">Data zakończenia</th>
                            <th class="text-left">Edytuj</th>
                            <th class="text-left">Usuń</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in reservationDataTable" :key="item.id">
                            <td>{{ item.person }}</td>
                            <td>{{ item.workplace }}</td>
                            <td>{{ item.datetime_start }}</td>
                            <td>{{ item.datetime_end }}</td>
                            <td>
                                <v-icon large @click="showForm(item.id)">mdi-square-edit-outline</v-icon>
                            </td>
                            <td>
                                <v-icon large @click="deleteReservation(item.id)">mdi-trash-can-outline</v-icon>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>

            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ReservationForm from "../components/form/ReservationForm";
    import MessagesBox from "../components/MessagesBox";
    export default {
        name: "Workplace",
        components: {MessagesBox, ReservationForm},
        data: () => ({
            isShowForm: false,
            editFormPersonId: null,
            boxMsg: null,
            boxMsgType: null,
            boxMsgEvent: null,
            // Data model
            reservationDataTable: null,
        }),
        created() {
            this.getAllReservations()
        },
        methods: {
            // Methods Form
            closeReservationForm() {
                this.isShowForm = false
            },
            setMsgBox(msg, type) {
                this.unsetMsgBox()
                this.boxMsg = msg
                this.boxMsgType = type

                this.boxMsgEvent = setTimeout(() => {
                    this.unsetMsgBox()
                }, 10000);

            },
            unsetMsgBox() {
                this.boxMsg = null
                this.boxMsgType = null

                if ( this.boxMsgEvent !== null ) {
                    clearTimeout(this.boxMsgEvent)
                    this.boxMsgEvent = null
                }

            },
            // Methods model
            getAllReservations() {
                axios.get('reservation/getAll')
                    .then( (response) => {
                        this.reservationDataTable = response.data
                    })
                    .catch( (error) => {
                        this.setMsgBox(error.response.data.messages,'error')
                    });
            },
            showForm(idReservation = null) {
                this.isShowForm = true
                if ( idReservation === null) this.$refs.ReservationForm.showForm()
                else this.$refs.ReservationForm.showForm(idReservation)
            },
            deleteReservation(id) {

                let msgConfirm = 'Czy jestes pewny, że chcesz usunąc rezerwacje?'

                if ( window.confirm(msgConfirm) ) {
                    let url = 'reservation/delete/' + id
                    axios.delete(url)
                        .then( (response) => {
                            if ( response ) {
                                this.getAllReservations()
                                this.setMsgBox(['Usunięto rezerwacje'],'success')
                            }
                        })
                        .catch( (error) => {
                            this.setMsgBox(error.response.data.messages,'error')
                        });
                }

            },
            addedNewReservation() {
                this.getAllReservations()
                this.setMsgBox(['Dodano nową rezerwacje'], 'success')
            },
            editedReservation() {
                this.getAllReservations()
                this.setMsgBox(['Edytowano rezerwacje poprawnie'], 'success')
            }
        }
    }
</script>

<style scoped>

</style>
