<template>
    <v-container
        fluid
    >
        <v-row>
            <v-col>

                <messages-box v-if="boxMsg !== null"
                              v-bind:msg-type="boxMsgType"
                              v-bind:msg-array="boxMsg">
                </messages-box>

                <h1>Miejsce pracy</h1>
                <hr class="mb-2">

                <div class="text-center">

                    <v-btn
                        color="white"
                        dark
                        v-show="isShowForm === false"
                        @click="showForm()"
                        outlined
                        x-large
                    >
                        Dodaj nowe miejsce pracy
                    </v-btn>

                    <WorkplaceForm v-show="isShowForm === true" ref="WorkplaceForm"
                                :edit-person-id="editFormPersonId"
                                @closeForm="closeWorkplaceForm"
                                @addedWorkplace="addedNewWorkplace"
                                @editedWorkplace="editedWorkplace"
                    >
                    </WorkplaceForm>

                </div>

                <h2 class="mt-2">Lista miejsc pracy</h2>
                <hr class="mb-2">

                <v-simple-table v-if="workplaceDataTable !== null">
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">Oznaczenie</th>
                            <th class="text-left">Opis</th>
                            <th class="text-left">Wyposażenie</th>
                            <th class="text-left">Edytuj</th>
                            <th class="text-left">Usuń</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in workplaceDataTable" :key="item.id">
                            <td>{{ item.mark }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <ul v-for="equipment in item.equipments">
                                    <li>{{ equipment.mark }}</li>
                                </ul>
                            </td>
                            <td>
                                <v-icon large @click="showForm(item.id)">mdi-square-edit-outline</v-icon>
                            </td>
                            <td>
                                <v-icon large @click="deleteWorkplace(item.id,item.mark)">mdi-trash-can-outline</v-icon>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>

            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import WorkplaceForm from "../components/form/WorkplaceForm";
    import MessagesBox from "../components/MessagesBox";
    export default {
        name: "Workplace",
        components: {MessagesBox, WorkplaceForm},
        data: () => ({
            isShowForm: false,
            editFormPersonId: null,
            boxMsg: null,
            boxMsgType: null,
            boxMsgEvent: null,
            // Data model
            workplaceDataTable: null,
        }),
        created() {
            this.getAllWorkplaces()
        },
        methods: {
            // Methods Form
            closeWorkplaceForm() {
                this.isShowForm = false
            },
            setMsgBox(msg, type) {
                this.unsetMsgBox()
                this.boxMsg = msg
                this.boxMsgType = type

                this.boxMsgEvent = setTimeout(() => {
                    this.unsetMsgBox()
                }, 10000);

            },
            unsetMsgBox() {
                this.boxMsg = null
                this.boxMsgType = null

                if ( this.boxMsgEvent !== null ) {
                    clearTimeout(this.boxMsgEvent)
                    this.boxMsgEvent = null
                }

            },
            // Methods model
            getAllWorkplaces() {
                axios.get('workplace/getAll')
                    .then( (response) => {
                        this.workplaceDataTable = response.data
                    })
                    .catch( (error) => {
                        this.setMsgBox(error.response.data.messages,'error')
                    });
            },
            showForm(idWorkplace = null) {
                this.isShowForm = true
                if (idWorkplace === null) this.$refs.WorkplaceForm.showForm()
                else this.$refs.WorkplaceForm.showForm(idWorkplace)
            },
            deleteWorkplace(id,mark) {

                let msgConfirm = 'Czy jestes pewny, że chcesz miejsce pracy o oznaczeniu: ' + mark + ' ?'

                if ( window.confirm(msgConfirm) ) {
                    let url = 'workplace/delete/' + id
                    axios.delete(url)
                        .then( (response) => {
                            if ( response ) {
                                this.getAllWorkplaces()
                                this.setMsgBox(['Usunięto miejsce pracy'],'success')
                            }
                        })
                        .catch( (error) => {
                            this.setMsgBox(error.response.data.messages,'error')
                        });
                }

            },
            addedNewWorkplace() {
                this.getAllWorkplaces()
                this.setMsgBox(['Dodano nowe miejsce pracy'], 'success')
            },
            editedWorkplace() {
                this.getAllWorkplaces()
                this.setMsgBox(['Edytowano miejsce pracy poprawnie'], 'success')
            }
        }
    }
</script>

<style scoped>

</style>
