<template>
    <v-app id="inspire">

        <v-navigation-drawer
            v-model="drawer"
            app
            clipped
        >

            <v-list dense>

                <v-list-item to="/">
                    <v-list-item-action>
                        <v-icon>mdi-ticket-account</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Rezerwacje</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item to="/persons">
                    <v-list-item-action>
                        <v-icon>mdi-account-circle-outline</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Osoby</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item to="/workplace">
                    <v-list-item-action>
                        <v-icon>mdi-settings</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Miejsca pracy</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item to="/equipment">
                    <v-list-item-action>
                        <v-icon>mdi-desktop-tower</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Wyposażenie</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

            </v-list>

        </v-navigation-drawer>

        <v-app-bar
            app
            clipped-left
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title>ABM Group - Recruitment Task</v-toolbar-title>
        </v-app-bar>

        <v-content>
            <v-container>
                <v-row>
                    <v-col>

                        <router-view></router-view>

                    </v-col>
                </v-row>
            </v-container>
        </v-content>

        <v-footer app>
            <span>Maksym Kawelski &copy; 2020</span>
        </v-footer>
    </v-app>

</template>

<script>
    export default {
        data: () => ({
            drawer: null,
        }),
        created () {
            this.$vuetify.theme.dark = true
        },
    }
</script>

<style scoped>

</style>

