<template>
    <div >
        <v-alert v-bind:type="msgType" v-for="msg in msgArray" key="error">
            {{ msg }}
        </v-alert>
    </div>
</template>

<script>
    export default {
        name: "MessagesBox",
        props: [
            'msgArray',
            'msgType'
        ]
    }
</script>

<style scoped>

</style>
